/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}

body { 
    margin:0;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

    h1, h2, h3 {
        margin: 0;
        padding: 28px 28px;
        font-size: 20px;
        font-weight: 300;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        padding: 0px 12px;
    }
}